/* Estilos generales para el contenedor y la caja de login */
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
    font-family: Arial, sans-serif;
    margin-top: -30px   ; 
}

.login-box {
    background: #ffffff;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-box2 {
    background: #ffffff;
    padding: 10px 30px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Título */
.login-box h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

.ikmnbhgyuiolpoiuygvbenasd{
    display: flex; /* Activa el modelo flexbox */
    flex-direction: column; /* Alinea los ítems verticalmente */
    justify-content: center; /* Centra los ítems horizontalmente */
    align-items: center; /* Centra los ítems verticalmente */


    
}
.brand {
    font-size: 22px; /* Reducción adicional del tamaño de fuente */ 
    margin-bottom: 20px;
 
  }

  .svgIconSensitivvds{
    margin-bottom:-18px;
  }

/* Estilos de los campos de formulario */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #666;
}

.form-group input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #007bff;
    outline: none;
}

.sdfsdfdsfsdffffff{
    margin-top: 20px;
}

/* Botón de login */
.login-button {
    width: 100%;
    padding: 12px;
    background-color: #e20100;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    margin-bottom: 10px; 
}

.login-button:hover {
    background-color: #0056b3;
}

/* Footer */
.login-footer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signup-link {
    background: none;
    border: none;
    color: #007bff;
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
}

.signup-link:hover {
    color: #0056b3;
}

.forgot-password {
    color: #555;
    font-size: 14px;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}


.error-text{
    color:#e20100;
}